<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
 
  <servlet>
    <servlet-name>Backup_API_opportunities</servlet-name>
    <servlet-class>CSMP.DMM.service.servlet.Backup_opportunities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup_API_opportunities</servlet-name>
    <url-pattern>/backup_opportunities.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Backup_API_campaigns</servlet-name>
    <servlet-class>CSMP.DMM.service.servlet.Backup_campaigns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Backup_API_campaigns</servlet-name>
    <url-pattern>/backup_campaigns.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_base</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_base</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_base</servlet-name>
  	<url-pattern>/backup_base.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_accounts</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_accounts</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_accounts</servlet-name>
  	<url-pattern>/backup_accounts.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_calls</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_calls</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_calls</servlet-name>
  	<url-pattern>/backup_calls.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_cases</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_cases</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_cases</servlet-name>
  	<url-pattern>/backup_cases.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_contacts</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_contacts</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_contacts</servlet-name>
  	<url-pattern>/backup_contacts.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_emails</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_emails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_emails</servlet-name>
  	<url-pattern>/backup_emails.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_leads</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_leads</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_leads</servlet-name>
  	<url-pattern>/backup_leads.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_meetings</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_meetings</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_meetings</servlet-name>
  	<url-pattern>/backup_meetings.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_tasks</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_tasks</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_tasks</servlet-name>
  	<url-pattern>/backup_tasks.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_users</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_users</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_users</servlet-name>
  	<url-pattern>/backup_users.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_faq</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_faq</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_faq</servlet-name>
  	<url-pattern>/backup_faq.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_vendors</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_vendors</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_vendors</servlet-name>
  	<url-pattern>/backup_vendors.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_products</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_products</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_products</servlet-name>
  	<url-pattern>/backup_products.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_services</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_services</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_services</servlet-name>
  	<url-pattern>/backup_services.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_quotes</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_quotes</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_quotes</servlet-name>
  	<url-pattern>/backup_quotes.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_puchaseorders</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_puchaseorders</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_puchaseorders</servlet-name>
  	<url-pattern>/backup_puchaseorders.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_salesorders</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_salesorders</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_salesorders</servlet-name>
  	<url-pattern>/backup_salesorders.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Backup_API_invoices</servlet-name>
  	<servlet-class>CSMP.DMM.service.servlet.Backup_invoices</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Backup_API_invoices</servlet-name>
  	<url-pattern>/backup_invoices.do</url-pattern>
  </servlet-mapping>
</web-app>